@charset 'UTF-8';

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0}table{border-collapse:collapse;border-spacing:0}fieldset,img{border:0}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal}li{list-style:none}caption,th{text-align:left}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}q:before,q:after{content:''}abbr,acronym{border:0;font-variant:normal}sup{vertical-align:text-top}sub{vertical-align:text-bottom}input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit}input,textarea,select{*font-size:100%}legend{color:#000}body{font:13px/1.231 arial,helvetica,clean,sans-serif;*font-size:small;*font:x-small}table{font-size:inherit;font:100%}pre,code,kbd,samp,tt{font-family:monospace;*font-size:108%;line-height:100%}body{text-align:center}

html, body {
  font-family: Arial Unicode MS, Arial, sans-serif;
  font-size: small;
  text-decoration: none;
  color: black;
  margin: 0px auto;
  border: 0px;
  padding: 0px;
  background: #fff;
  direction: ltr;
}

a {
  text-decoration: underline;
  color: #639aed;
}

a:hover {
  text-decoration: none;
  background-color: #fcffc6;
}

.x-Text,
input[type=text] {
  width: 500px;
  margin-right: 5px;
  height: 20px;
}

.x-Button {
  margin: 0;
  padding: 3px 5px;
  text-decoration: none;
  font-size: small;
  cursor: pointer;
  cursor: hand;
  background: url("../img/hborder.png") repeat-x 0px -27px;
  border: 1px outset #ccc;
}

.x-Button:active {
  border: 1px inset #ccc;
}

.x-Button:hover {
  border-color: #9cf #69e #69e #7af;
}

.x-Button[disabled] {
  cursor: default;
  color: #888;
}

.x-Button[disabled]:hover {
  border: 1px outset #ccc;
}

#all {}

#main {
  width: 98%;
  height: auto;
  margin: 0 auto;
  margin-top: 10pt;
  margin-bottom: 20pt;
  position: relative;
  text-align: center;
}

#header {}

.recent_stupid_questions {
  position: fixed;
  top: 0;
  right: 0;
  text-align: right;
  width: 20%;
  background-color: white;
  border-left: 2px solid #ccc;
  border-bottom: 2px solid #ccc;
  font-size: small;
}

.recent_stupid_questions p, .recent_stupid_questions ul, .recent_stupid_questions h3, .recent_stupid_questions h4, .recent_stupid_questions dl, .recent_stupid_questions pre {
  padding-left: 10px;
  padding-right: 10px;
}

.recent_stupid_questions blockquote {
  margin-left: 12px;
}

.recent_stupid_questions ul, .recent_stupid_questions ol {
  margin-left: 1.5em;
}

.recent_stupid_questions h3 {
  margin-top: .6em;
}

.recent_stupid_questions h2, .recent_stupid_questions caption, .inline-group h2 {
  margin: 0;
  padding: 2px 5px 3px 5px;
  font-size: 11px;
  text-align: left;
  font-weight: bold;
  background: #7CA0C7 url(../img/default-bg.gif) top left repeat-x;
  color: white;
}

.recent_stupid_questions h2 {
  background: #eee url(../img/nav-bg.gif) bottom left repeat-x;
  color: #666;
}

.recent_stupid_questions ul.actionlist {
  margin-left: 0;
  text-align: left;
  padding: 5px;
}

ul.actionlist li {
  list-style-type: none;
}

.recent_stupid_questions table {
  border-collapse: collapse;
}

#contents {}

.ask {}

.logo {
  margin: 0px auto;
}

.logo a {
  background-color: #fff;
}

.log a:hover {
  background-color: #fff;
}

.form {
  margin-top: 5px;
}

#result {
  width: 100%;
  height: 80px;
  margin: 15px auto;
  padding: 5px;
  display: block;
  text-align: center;
  background-color: #fff;
}

#footer {
  position: fixed;
  bottom: 0;
  text-align: center;
  width: 100%;
  background-color: white;
}
