%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ts=4 sw=4 ft=erlang et

%% == Erlang Compiler ==

{erl_opts, [debug_info]}.

%% == Plugins ==

{plugins, [
  rebar3_cargo
]}.

%% == Dependencies ==

{deps, [
]}.

%% == Provider Hooks ==

{provider_hooks, [
  {pre, [
      {compile, {cargo, build}}
  ]},
  {post, [
      {clean, {cargo, clean}},
      {eunit, {cargo, test}}
  ]}
]}.

%% == EUnit ==

{eunit_opts, [verbose, {print_depth, 200}]}.
{eunit_tests, [{application, calc}]}.
{eunit_compile_opts, [
  export_all,
  nowarn_untyped_record,
  nowarn_export_all
]}.

%% == Shell ==

{shell, [
  % {config, "config/sys.config"},
    {apps, [calc]}
]}.
