{% load i18n %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
	
	<meta name="title" content="{% block meta-title %}ask-undrgz{% endblock %}" />
    <meta name="author" content="Nycholas de Oliveira e Oliveira - nycholas@gmail.com" />
    <meta name="description" content="ask-undrgz system of questions via underguiz" />
    <meta name="keywords" content="ask asking question query reply response answer rejoinder replication" />
    <meta name="distribution" content="global" />
    <meta name="copyright" content="Nycholas de Oliveira e Oliveira - nycholas@gmail.com" />
	
	<link href="/static/undrgz.ico" rel="shortcut icon" type="image/x-icon" />
	<link href="/static/css/main.css" rel="stylesheet" type="text/css" charset="utf-8" />
	
	<script type="text/javascript" src="/static/js/jquery.js"></script>
	<noscript>
        <meta http-equiv="refresh" content="1000">
	</noscript>
	
	<title>{% block title %}ask-undrgz{% endblock %}</title>
</head>
<body>
	<div id="all">
		<div id="main">
			<div id="header">
				{% block recent_stupid_questions %}
				<div id="id_recent_stupid_questions" class="recent_stupid_questions">
					<h2>{% trans 'Recent stupid questions' %}</h2>
					<ul class="actionlist">
						<li><a href="/?ask={% trans 'WTF?' %}" onclick='javascript: return set_question_and_submit_form("WTF?");'>{% trans 'WTF?' %}</a></li>
						<li><a href="/?ask={% trans "Where's my phone?" %}" onclick='javascript: return set_question_and_submit_form("Where's my phone?");'>{% trans "Where's my phone?" %}</a></li>
						<li><a href="/?ask={% trans "How many pounds I'll lose weight today?" %}" onclick='javascript: return set_question_and_submit_form("How many pounds I'll lose weight today?");'>{% trans "How many pounds I'll lose weight today?" %}</a></li>
					</ul>
				</div>
				{% endblock %}
			</div>
			<div id="contents">{% block contents %}{% endblock %}</div>
			<div id="footer">{% trans 'Written by' %} <a href="mailto: nycholas@gmail.com">Nycholas de Oliveira e Olivera</a>. {% trans 'Uses data from' %} <a href="mailto: guilherme@ilostmyself.org">underguiz</a>.<div>
		</div>
	</div>
	<script type="text/javascript">
	function send_ask() {
		$.post('/', {
			ask: $('#id_ask').val()
		}, function(data, status, xhr) {
			//window.alert('send_ask: '+data+':'+status+':'+xhr);
		}, 'json');
	}
	
	function is_online() {
		$.post('/_is_online/', {from: 'underguiz@ilostmyself.org'}, 
		function(data, status, xhr) {
			//window.alert('is_online:'+data+':'+status+':'+xhr);
			var easter_egg = $('#id_easter_egg').val();
			if (data.is_online) {
				//$('#id_div_recent_stupid_questions').show();
				if (data.easter_egg || easter_egg == 1) {
					$('#id_logo').html('<a href="/"><img src="/static/img/underguiz.png" width="352" height="352" alt="{% trans 'underguiz - online' %}" /></a>');
				} else {
					$('#id_logo').html('<a href="/"><img src="/static/img/awesomeaface.png" width="352" height="352" alt="{% trans 'underguiz - online' %}" /></a>');
				}
				$('#id_ask').attr('disabled', '');
				$('#id_send_question').attr('disabled', '');
			} else {
				//$('#id_div_recent_stupid_questions').hide();
				if (data.easter_egg || easter_egg == 1) {
					$('#id_logo').html('<a href="/"><img src="/static/img/underguiz-nocolor.png" width="352" height="352" alt="{% trans 'underguiz - offline' %}" /></a>');
				} else {
					$('#id_logo').html('<a href="/"><img src="/static/img/awesomeaface-nocolor.png" width="352" height="352" alt="{% trans 'underguiz - offline' %}" /></a>');
				}
				$('#id_ask').attr('disabled', 'disabled');
				$('#id_send_question').attr('disabled', 'disabled');
			}
		}, 'json');
	}
	
	function send_message() {
		$.post('/_send_message/', {
			from: 'underguiz@ilostmyself.org',
			to: 'ask-undrgz@appspot.com',
			body: $('#id_ask').val(),
			stanza: 'normal'
		}, function(data, status, xhr) {
			//window.alert('send_message:'+data+':'+status+':'+xhr);
		}, 'json');
	}
	
	function update_recent_stupid_questions() {
		$.post('/_recent_stupid_questions/', function(data, status, xhr) {
			//window.alert('update_recent_stupid_questions:'+data+':'+status+':'+xhr);
			var html = '';
			$.each(data, function(i, question) {
				html += '<li><a href="'+ question.get_absolute_url +'" onclick=\'javascript: return set_question_and_submit_form("'+ question.ask +'");\'>'+ question.ask +'</a></li>';
			});
			$('#id_recent_stupid_questions').html(html);
		}, 'json');
	}
	
	function update_answer() {		
		var question_key_curr = $('#id_key').val();
		if (question_key_curr) {
			$.get('/'+question_key_curr+'/', 
			function(data, status, xhr) {
				//window.alert('update_answer:'+':'+status+':'+xhr);
				if (data.answer != 'None') {
					loading.hide();
					$('#result').html('<b>{% trans 'underguiz says' %}:</b> '+ data.answer);
				} else {
					loading.show();
				}
		    }, 'json');
		}
	}
	
	function submit_form() {
		//send_message();
		return true;
	}
	
	function set_question_and_submit_form(question) {
		$('#id_ask').data(question);
		return true;
	}
	
	var loading = false;
	$(document).ready(function() {
		loading = $(
			'<img id="loading" alt="{% trans 'Loading...' %}" title="{% trans 'Loading...' %}" src="/static/img/ajax-loader.gif" style="margin-top: 40px;" />'
		).appendTo('#result').hide()
		
		$('#id_question_form').submit(function() {
			loading.show();
			submit_form();
		});
		
		is_online();
		var interval_is_online = window.setInterval(function() {
			is_online();
			update_recent_stupid_questions();
		}, 5000);
		
		update_answer();
		var interval_update_answer = window.setInterval(function() {
			update_answer();
		}, 1000);
	});
	</script>
	<script type="text/javascript">
	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-17622996-2']);
	  _gaq.push(['_trackPageview']);
	
	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();
	</script>
</body>
</html>