{% extends 'base.html' %}
{% load i18n %}

{% block meta-title %}{% trans 'ask-undrgz :: system of questions uses data from underguiz' %}{% endblock %}
{% block title %}{% trans 'ask-undrgz :: system of questions uses data from underguiz' %}{% endblock %}

{% block recent_stupid_questions %}
{% if recent_stupid_questions %}
<div id="id_div_recent_stupid_questions" class="recent_stupid_questions">
	<h2>{% trans 'Recent stupid questions' %}</h2>
	<ul id="id_recent_stupid_questions" class="actionlist">
		{% for question in recent_stupid_questions %}
			<li><a href="{{ question.get_absolute_url }}" onclick='javascript: return set_question_and_submit_form("{{ question.ask }}");'>{{ question.ask }}</a></li>
		{% endfor %}
	</ul>
</div>
{% endif %}
{% endblock %}

{% block contents %}
	<div class="ask">
		<div id="id_logo" class="logo"><a href="/"><img src="/static/img/awesomeaface.png" width="352" height="352" alt="{% trans 'underguiz - online' %}" /></a></div>
		<div class="form">
			<form action="/" method="POST" id="id_question_form" name="question_form">
			<input type="hidden" name="key" id="id_key" value="{% if ask_slug %}{{ ask_slug }}{% endif %}" />
			<input type="hidden" name="easter_egg" id="id_easter_egg" value="{% block easter_egg %}0{% endblock %}" />
			<label for="id_ask">{% trans "Ask a question to underguiz (WTF?, Where's my phone?, How many pounds am I going to lose today?):" %}</label><br />
			{% if question_form.subject.errors %}
				<div style="color: red;">{{ question_form.ask.errors }}</div>
			{% endif %}
			{{ question_form.ask }} <input type="submit" id="id_send_question" name="send_question" class="x-Button" value="{% trans 'Send question' %}" />
			</form>
		</div>
		<div id="result">{% if answer %}<b>{% trans 'underguiz says' %}:</b> {{ answer|escape }}{% endif %}</div>
	</div>
{% endblock %}

{% block responses %}
	{{ answer }}
{% endblock %}